<h1>Allabolag.se lookup</h1>
<p>Hello</p>

<%= form_tag("/results", method: "post") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>
